.photo-gallery-page {
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: black;
    height: 1000px;
    background-color: white;
}

.photo-gallery-container{
    margin-top: 80px;
}


