.begin-display-container{
    position:absolute;
    height: max-content;
    width: 100%;
    min-width: 20em;
    border: solid 3px white;
    background: radial-gradient(ellipse at top, turquoise, rgba(0,0,255,0.6), transparent),
                linear-gradient(yellow, yellow, gray);
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    .begin-display-container-title{
        flex: 0.15;
        text-align: center;
        padding: 10px;
        font-family: monospace;
        font-size: 30pt;
    }
    .begin-display-container-content{
        flex: 0.75;
        display:flex;
        flex-direction:column;
        height: 100%;
        .begin-display-item{
            flex: 1;
            display:flex;
            justify-content: space-between;
            margin: 0 1em 0 1em;
            padding: 1em;

            .display-item-desc{
                flex: 0.5;
                font-size: 15pt;
            }
            .display-item-img{
                
            }
            &:hover{
                background-color: rgba(0,0,0,0.4);
                cursor: pointer;
            }
        }
    }
    .start-game-button{
        flex: 0.1;
        display:flex;
        margin:auto;
        padding: 5px;
        & > button{
            width: 80px;
            height: 40px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
                border: solid 2px black;
            }
        }
    }
}